<div class="container mt-5">
  <div class="row">
    <div class="col col-md-8">
      <%= image_tag "http://source.unsplash.com/collection/3099344/1000x500", width: "100%", class: "border shadow mb-5" %>
      <h2>
        <span id="reviews-count"><%= pluralize @restaurant.reviews.size, "review" %></span>
      </h2>
      <div data-controller="collapsible" data-height="150px">
        <button class="btn btn-outline-primary" data-action="click->collapsible#expand">Leave a review</button>
        <div data-collapsible-target="form">
          <%= simple_form_for([ @restaurant, @review ], remote: true) do |f| %>
            <%= f.input :content, as: :text, label: false %>
            <%= f.button :submit, 'Submit', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div id="reviews" data-controller="collapsible" data-height="unset">
        <button data-action="click->collapsible#expand" class="btn btn-outline-secondary mt-5">Show reviews</button>
        <div data-collapsible-target="form">
          <% if @restaurant.reviews.blank? %>
            Be the first to leave a review for <%= @restaurant.name %>
          <% else %>
            <% @restaurant.reviews.order(created_at: :desc).each do |review| %>
              <%= render review %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <%= render 'restaurants/info_card', restaurant: @restaurant %>
    </div>
  </div>
</div>
